.prospect-info {
  position: absolute;
  top: 53px;
  right: 24px;
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
}

.accordion .prospect-info {
  display: none;
}

.CRM_Contribute_Form_Contribution ~ .prospect-info {
  top: 110px;
}
