.___outside-namespace {
  .prospect__case-info {
    background-color: $crm-white;
    border-radius: $border-radius-child;
    padding: $crm-gap-small;
    position: absolute;
    right: 24px;
    top: 53px;
  }
}
